#tankimg {
    padding: 10px;
    margin: auto;
}
#canvas {
    border: 3px solid black;
    border-radius: 10px;
    width: 480px;
    height: 480px;
}
.ipt-total{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.ipt{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.ipt .title{
    font-weight: bold;
}
main{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 12px;
}
@media screen and (max-width: 712px) {
    #canvas{
        width: 292px;
        height: 292px;
    }
}